<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prithvi | Affordable Housing</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index,follow">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" />
  <link rel="icon" href="{{ url_for('static', path='/images/house.png') }}">
</head>
<body>
  <div class="header">
      <div class="container">
          <img class="logo" src="static/images/PrithviLogo.png" alt="Prithvi Logo"/>          
          <h1 class="main-title">About Prithvi</h1>
          <p>Prithvi is an innovative builder that provides services to fill gaps in human needs. Our initial focus is on low cost housing and housing 
            related infrastructure, with a focus on providing residential spaces for people on low or no incomes. It is intended that our efforts will have a 
            meaningful impact on ending homelessness and underhousing in Australia.</p>
          
          <h2 class="section-title">Our Funding Model</h2>
          <p>Of particular note, is the funding model that Prithvi employs. Prithvi uses income contingent loans to help people move into accommodation 
            now and pay either through earned income or welfare payments.</p>
          
          <p>The total cost of Prithvi residences is calibrated to fit within what a person receiving a Services Australia (Centrelink) payment can 
            afford with money to spare for groceries, utilities and some entertainment.</p>
          
          <p>A key feature of the model Prithvi employs is that our residents pay towards owning their own properties.</p>
          
          <h2 class="section-title">Our Approach</h2>
          <p>Our initial focus is on providing high quality, low cost dwellings built where land is affordable. This means we initially focus on providing 
            housing for people who are already located or are willing to locate to areas that may be outside major metropolitan centres.</p>
          
          <p>Another important feature of Prithvi's approach is our focus on providing services in a commercially viable manner. We feel this allows us 
            to create a housing model that is scalable and has the potential to end housing shortages without direct government support. It should be noted 
            that by direct government support we mean specific cash or in kind support for our development activities. We do expect many residents to pay 
            for their accommodation with Services Australia payments, and expect to work closely with a wide range of government and non-government services 
            to implement our concepts.</p>
          
          <h2 class="section-title">Our Developments</h2>
          <p>We structure our developments as follows:</p>
          
          <h3 class="subsection-title">Housing Gardens</h3>
          <p>Usually 4-10 individual homes, mostly for singles and couples, built with basic communal services such as gardens, community meal preparation 
            and seating areas.</p>
          
          <h3 class="subsection-title">Residential Villages</h3>
          <p>A combination of several Housing Garden developments, with the addition of services such as a grocery store.</p>
      </div>
  </div>
  <div class="footer">
    <div class="footer-container">
        <div class="footer-content">
          <p class="copyright">© 2025 Prithvi | All rights reserved</p>
        </div>
      </div>
  </div>
</body>
</html>